
<div class="container d-flex align-items-center justify-content-center">
  <mat-grid-list [cols]="2" rowHeight="1:1" gutterSize="20px" class="grid-wrapper">
    <mat-grid-tile (click)="navigateToUsers()"><i class="bi bi-people-fill"></i></mat-grid-tile>
    <mat-grid-tile (click)="navigateToFoodItems()"><i class="fas fa-pizza-slice"></i></mat-grid-tile>
    <mat-grid-tile (click)="navigateToRestaurants()"><i class="bi bi-bank2"></i></mat-grid-tile>
    <mat-grid-tile><i class="fas fa-map-marked"></i></mat-grid-tile>
    <mat-grid-tile><i class="bi bi-receipt"></i></mat-grid-tile>
    <mat-grid-tile><i class="bi bi-cart-fill"></i></mat-grid-tile>
  </mat-grid-list>
</div>
